<style>
	#block-gin-page-title {
		display: none
	}
	:root {
		--prm-color: #0381ff;
		--prm-gray: #b1b1b1;
	}
	/*  unnecessary */

	section {
		width: 100%;
	}
	/*  unnecessary finished*/

	/* CSS */
	.steps {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
		position: relative;
	}

	.step-button {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: none;
		background-color: var(--prm-gray);
		transition: 0.4s;
	}

	.step-button[aria-expanded="true"] {
		width: 60px;
		height: 60px;
		background-color: var(--prm-color);
		color: #fff;
	}

	.done {
		background-color: var(--prm-color);
		color: #fff;
	}

	.step-item {
		z-index: 10;
		text-align: center;
	}

	#progress {
		-webkit-appearance: none;
		position: absolute;
		width: 95%;
		z-index: 5;
		height: 10px;
		margin-left: 18px;
		margin-bottom: 18px;
	}

	/* to customize progress bar */
	#progress::-webkit-progress-value {
		background-color: var(--prm-color);
		transition: 0.5s ease;
	}

	#progress::-webkit-progress-bar {
		background-color: var(--prm-gray);

	}

	header {
		display: none;
	}
	#accordionExample {
		padding: 30px 60px 10px;
		border-radius: 15px;
		margin-bottom: 10px;
	}
    .step-title {
        font-weight : bold ;
    }
</style>


<section class="process_bank_page">
	<div class="container">

		<div class="accordion" id="accordionExample">
			<div class="px-4 py-5 my-5 text-center">
				<h1 class="display-5 fw-bold">Bank set up for your website</h1>
				<div class="col-lg-6 mx-auto">
					<p class="lead mb-4">Adding a bank payment option to your website is required for smoother transactions.
</p>
				</div>
			</div>
			<div class="steps">
				<progress id="progress" value="0" max="100"></progress>
			<div class="step-item">
				<button class="step-button text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					1
				</button>
				<div class="step-title">
					Information User
				</div>
			</div>
			<div class="step-item">
				<button class="step-button text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					2
				</button>
				<div class="step-title">
					 Information Bank 
				</div>
			</div>
			<div class="step-item">
				<button class="step-button text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					3
				</button>
				<div class="step-title">
					Set up Bank Successfully 
				</div>
			</div>
		</div>
	</div>
</div></section>{{drupal_form("Drupal\\mz_payment\\Form\\BankSetupForm")}}
