<div class="body">
	<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}" style="height: 156px;">
		<div class="header-body border-color-primary border-bottom-0" style="position: fixed; top: 0px;">
			<div class="header-top header-top-simple-border-bottom" style="height: 53px; min-height: 0px; overflow: visible;">
				<div class="container">
					<div class="header-row py-2">
						<div class="header-column justify-content-start">
							<div class="header-row">
								<nav class="header-nav-top">
									<ul class="nav nav-pills text-uppercase text-2">
										<li class="nav-item nav-item-anim-icon d-none d-md-block">
											<a class="nav-link ps-0" href="about-us.html">
												<i class="fas fa-angle-right"></i>
												About Us</a>
										</li>
										<li class="nav-item nav-item-anim-icon d-none d-md-block">
											<a class="nav-link" href="contact-us.html">
												<i class="fas fa-angle-right"></i>
												Contact Us</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="header-column justify-content-end">
							<div class="header-row">
								<nav class="header-nav-top">
									<ul class="nav nav-pills">
										<li class="nav-item">
											<a href="mailto:mail@domain.com">
												<i class="far fa-envelope text-4 text-color-primary" style="top: 1px;"></i>
												mail@domain.com</a>
										</li>
										<li class="nav-item">
											<a href="tel:123-456-7890">
												<i class="fab fa-whatsapp text-4 text-color-primary" style="top: 0;"></i>
												123-456-7890</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-container container" style="height: 100px; min-height: 0px;">
				<div class="header-row">
					<div class="header-column">
						<div class="header-row">
							<div class="header-logo" style="width: 100px; height: 48px;"></div>
						</div>
					</div>
					<div class="header-column justify-content-end">
						<div class="header-row">
							<div class="header-nav header-nav-line header-nav-bottom-line">
								<div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
									<nav class="collapse">
										<ul class="nav nav-pills" id="mainNav">
											<li class="dropdown">
												<a class="dropdown-item dropdown-toggle active current-page-active" href="index.html">
													Home
													<i class="fas fa-chevron-down"></i>
												</a>
											</li>
											<li class="dropdown dropdown-mega">
												<a class="dropdown-item dropdown-toggle" href="elements.html">
													Elements
													<i class="fas fa-chevron-down"></i>
												</a>
											</li>
											<li class="dropdown">
												<a class="dropdown-item dropdown-toggle" href="#">
													Features
													<i class="fas fa-chevron-down"></i>
												</a>

											</li>
											<li class="dropdown">
												<a class="dropdown-item dropdown-toggle" href="#">
													Pages
													<i class="fas fa-chevron-down"></i>
												</a>
											</li>
											<li class="dropdown">
												<a class="dropdown-item dropdown-toggle" href="#">
													Portfolio
													<i class="fas fa-chevron-down"></i>
												</a>

											</li>

										</ul>
									</nav>
								</div>
								<ul class="header-social-icons social-icons d-none d-sm-block">
									<li class="social-icons-facebook">
										<a href="http://www.facebook.com/" target="_blank" title="Facebook">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li class="social-icons-twitter">
										<a href="http://www.twitter.com/" target="_blank" title="Twitter">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li class="social-icons-linkedin">
										<a href="http://www.linkedin.com/" target="_blank" title="Linkedin">
											<i class="fab fa-linkedin-in"></i>
										</a>
									</li>
								</ul>
								<button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
									<i class="fas fa-bars"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div role="main" class="main">
		<div class="container py-5 my-4">
			<div class="row text-center py-3">
				<div class="col-md-10 mx-md-auto">
					<h1 class="word-rotator slide font-weight-bold text-8 mb-3 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" style="animation-delay: 100ms;">
						<span>Porto is
						</span>
						<span class="word-rotator-words bg-primary" style="width: 170.281px;">
							<b class="is-visible">incredibly</b>
							<b class="is-hidden">especially</b>
							<b class="is-hidden">extremely</b>
						</span>
						<span>
							beautiful and fully responsive.</span>
					</h1>
					<p class="lead appear-animation mb-0 animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300" style="animation-delay: 300ms;">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo.
					</p>
				</div>
			</div>
		</div>
		<div class="container py-5 my-4">
			<h4>Color primary</h4>
			<section class="call-to-action call-to-action-primary mb-5">
				<div class="col-sm-9 col-lg-9">
					<div class="call-to-action-content">
						<h3>Porto is
							<strong>everything</strong>
							you need to create a
							<strong>website!</strong>
						</h3>
						<p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3">
					<div class="call-to-action-btn">
						<a href="#" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
					</div>
				</div>
			</section>
			<h4>Color secondary</h4>
			<section class="call-to-action call-to-action-secondary mb-5">
				<div class="col-sm-9 col-lg-9">
					<div class="call-to-action-content">
						<h3>Porto is
							<strong>everything</strong>
							you need to create a
							<strong>website!</strong>
						</h3>
						<p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3">
					<div class="call-to-action-btn">
						<a href="#" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
					</div>
				</div>
			</section>
			<h4>Color tertiary</h4>
			<section class="call-to-action call-to-action-tertiary mb-5">
				<div class="col-sm-9 col-lg-9">
					<div class="call-to-action-content">
						<h3>Porto is
							<strong>everything</strong>
							you need to create a
							<strong>website!</strong>
						</h3>
						<p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3">
					<div class="call-to-action-btn">
						<a href="#" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
					</div>
				</div>
			</section>
			<h4>Color quaternary</h4>
			<section class="call-to-action call-to-action-quaternary mb-5">
				<div class="col-sm-9 col-lg-9">
					<div class="call-to-action-content">
						<h3>Porto is
							<strong>everything</strong>
							you need to create a
							<strong>website!</strong>
						</h3>
						<p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
					</div>
				</div>
				<div class="col-sm-3 col-lg-3">
					<div class="call-to-action-btn">
						<a href="#" target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
					</div>
				</div>
			</section>
		</div>
		<section class="section section-height-5 bg-primary border-0 pt-5 m-0 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" style="animation-delay: 100ms;">
			<div class="container">
				<div class="row mt-4 mt-lg-5">
					<div class="col-lg-4 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
						<div class="feature-box">
							<div class="feature-box-icon feature-box-icon-large bg-light mt-1">
								<i class="icons icon-support text-color-primary text-6"></i>
							</div>
							<div class="feature-box-info">
								<h2 class="text-color-light font-weight-bold text-4 line-height-5 mb-1">CUSTOMER SUPPORT</h2>
								<p class="text-color-light opacity-7">Lorem ipsum dolor sit
									<span class="alternative-font text-color-light">amet</span>, consectetur adipiscing elit. Praesent tincidunt pretium vulputate.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" style="animation-delay: 100ms;">
						<div class="feature-box">
							<div class="feature-box-icon feature-box-icon-large bg-light mt-1">
								<i class="icons icon-layers text-color-primary text-6"></i>
							</div>
							<div class="feature-box-info">
								<h2 class="font-weight-bold text-color-light text-4 line-height-5 mb-1">SLIDERS</h2>
								<p class="text-color-light opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget pretium purus.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
						<div class="feature-box">
							<div class="feature-box-icon feature-box-icon-large bg-light mt-1">
								<i class="icons icon-menu text-color-primary text-5"></i>
							</div>
							<div class="feature-box-info">
								<h2 class="font-weight-bold text-color-light text-4 line-height-5 mb-1">BUTTONS</h2>
								<p class="text-color-light opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel magna fringilla.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-lg-4">
					<div class="col-lg-4 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
						<div class="feature-box">
							<div class="feature-box-icon feature-box-icon-large bg-light mt-1">
								<i class="icons icon-doc text-color-primary text-5"></i>
							</div>
							<div class="feature-box-info">
								<h2 class="font-weight-bold text-color-light text-4 line-height-5 mb-1">HTML5 / CSS3 / JS</h2>
								<p class="text-color-light opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim ante eleifend.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" style="animation-delay: 100ms;">
						<div class="feature-box">
							<div class="feature-box-icon feature-box-icon-large bg-light mt-1">
								<i class="icons icon-user text-color-primary text-5"></i>
							</div>
							<div class="feature-box-info">
								<h2 class="font-weight-bold text-color-light text-4 line-height-5 mb-1">ICONS</h2>
								<p class="text-color-light opacity-7">Lorem ipsum dolor sit
									<span class="alternative-font text-color-light">amet</span>, consectetur adipiscing elit. Praesent consequat pharetra massa.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
						<div class="feature-box">
							<div class="feature-box-icon feature-box-icon-large bg-light mt-1">
								<i class="icons icon-screen-desktop text-color-primary text-6"></i>
							</div>
							<div class="feature-box-info">
								<h2 class="font-weight-bold text-color-light text-4 line-height-5 mb-1">LIGHTBOX</h2>
								<p class="text-color-light opacity-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum aliquet erat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<div class="container">
			<div class="featured-boxes py-5 mt-5 mb-4">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="featured-box featured-box-primary featured-box-effect-1">
							<div class="box-content">
								<i class="icon-featured icons icon-people"></i>
								<h3 class="text-color-primary font-weight-bold text-3 mb-2 mt-3">Loved by Customers</h3>
								<p class="px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<p>
									<a href="/" class="text-dark learn-more font-weight-bold text-2">VIEW MORE
										<i class="fas fa-chevron-right ms-2"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="featured-box featured-box-dark featured-box-effect-1">
							<div class="box-content">
								<i class="icon-featured icons icon-docs"></i>
								<h3 class="font-weight-bold text-3 mb-2 mt-3">Well Documented</h3>
								<p class="px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<p>
									<a href="/" class="text-dark learn-more font-weight-bold text-2">VIEW MORE
										<i class="fas fa-chevron-right ms-2"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="featured-box featured-box-primary featured-box-effect-1">
							<div class="box-content">
								<i class="icon-featured icons icon-trophy"></i>
								<h3 class="text-color-primary font-weight-bold text-3 mb-2 mt-3">Winner</h3>
								<p class="px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<p>
									<a href="/" class="text-dark learn-more font-weight-bold text-2">VIEW MORE
										<i class="fas fa-chevron-right ms-2"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="featured-box featured-box-dark featured-box-effect-1">
							<div class="box-content">
								<i class="icon-featured icons icon-equalizer"></i>
								<h3 class="font-weight-bold text-3 mb-2 mt-3">Customizable</h3>
								<p class="px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<p>
									<a href="/" class="text-dark learn-more font-weight-bold text-2">VIEW MORE
										<i class="fas fa-chevron-right ms-2"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row pt-5 mt-4">
				<div class="col">
					<h2 class="font-weight-normal text-6 mb-4">
						<strong class="font-weight-extra-bold">Latest</strong>
						Posts</h2>
				</div>
			</div>
			<div class="row recent-posts pb-5 mb-4">
				<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
					<article>
						<div class="row">
							<div class="col-auto pe-0">
								<div class="date">
									<span class="day text-color-dark font-weight-extra-bold">15</span>
									<span class="month text-1">JAN</span>
								</div>
							</div>
							<div class="col ps-1">
								<h4 class="line-height-3 text-4">
									<a href="blog-post.html" class="text-dark">Lorem ipsum dolor sit amet, consectetur</a>
								</h4>
								<p class="line-height-5 pe-4 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<a href="/" class="read-more text-color-dark font-weight-bold text-2">read more
									<i class="fas fa-chevron-right text-1 ms-1"></i>
								</a>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
					<article>
						<div class="row">
							<div class="col-auto pe-0">
								<div class="date">
									<span class="day text-color-dark font-weight-extra-bold">14</span>
									<span class="month text-1">JAN</span>
								</div>
							</div>
							<div class="col ps-1">
								<h4 class="line-height-3 text-4">
									<a href="blog-post.html" class="text-dark">Lorem ipsum dolor sit amet, consectetur</a>
								</h4>
								<p class="line-height-5 pe-4 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<a href="/" class="read-more text-color-dark font-weight-bold text-2">read more
									<i class="fas fa-chevron-right text-1 ms-1"></i>
								</a>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
					<article>
						<div class="row">
							<div class="col-auto pe-0">
								<div class="date">
									<span class="day text-color-dark font-weight-extra-bold">13</span>
									<span class="month text-1">JAN</span>
								</div>
							</div>
							<div class="col ps-1">
								<h4 class="line-height-3 text-4">
									<a href="blog-post.html" class="text-dark">Lorem ipsum dolor sit amet, consectetur</a>
								</h4>
								<p class="line-height-5 pe-4 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<a href="/" class="read-more text-color-dark font-weight-bold text-2">read more
									<i class="fas fa-chevron-right text-1 ms-1"></i>
								</a>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-6 col-lg-3">
					<article>
						<div class="row">
							<div class="col-auto pe-0">
								<div class="date">
									<span class="day text-color-dark font-weight-extra-bold">12</span>
									<span class="month text-1">JAN</span>
								</div>
							</div>
							<div class="col ps-1">
								<h4 class="line-height-3 text-4">
									<a href="blog-post.html" class="text-dark">Lorem ipsum dolor sit amet, consectetur</a>
								</h4>
								<p class="line-height-5 pe-4 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<a href="/" class="read-more text-color-dark font-weight-bold text-2">read more
									<i class="fas fa-chevron-right text-1 ms-1"></i>
								</a>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>

	<footer id="footer">
		<div class="container">
			<div class="footer-ribbon">
				<span>Get in Touch</span>
			</div>
			<div class="row py-5 my-4">
				<div class="col-md-6 mb-4 mb-lg-0">
					<p class="mt-2 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper...</p>
					<p class="mb-0">
						<a href="#" class="btn-flat btn-xs text-color-light">
							<strong class="text-2">VIEW MORE</strong>
							<i class="fas fa-angle-right p-relative top-1 ps-2"></i>
						</a>
					</p>
				</div>
				<div class="col-md-6">
					<h5 class="text-3 mb-3">CONTACT US</h5>
					<div class="row">
						<div class="col-md-6">
							<ul class="list list-icons list-icons-lg">
								<li class="mb-1">
									<i class="far fa-dot-circle text-color-primary"></i>
									<p class="m-0">234 Street Name, City Name</p>
								</li>
								<li class="mb-1">
									<i class="fab fa-whatsapp text-color-primary"></i>
									<p class="m-0">
										<a href="tel:8001234567">(800) 123-4567</a>
									</p>
								</li>
								<li class="mb-1">
									<i class="far fa-envelope text-color-primary"></i>
									<p class="m-0">
										<a href="mailto:mail@example.com">mail@example.com</a>
									</p>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="list list-icons list-icons-sm">
								<li>
									<i class="fas fa-angle-right"></i>
									<a href="page-faq.html" class="link-hover-style-1 ms-1">
										FAQ's</a>
								</li>
								<li>
									<i class="fas fa-angle-right"></i>
									<a href="sitemap.html" class="link-hover-style-1 ms-1">
										Sitemap</a>
								</li>
								<li>
									<i class="fas fa-angle-right"></i>
									<a href="contact-us.html" class="link-hover-style-1 ms-1">
										Contact Us</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright footer-copyright-style-2">
			<div class="container py-2">
				<div class="row py-4">
					<div class="col d-flex align-items-center justify-content-center">
						<p>© Copyright 2021. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
